* {
    margin: 0;
    padding: 0;
    background-color: black;
}

header{
    padding: 10px ;
    width: 100%;
    position: fixed; /*para que el menú de navegación se quede fijo en pantalla*/
    z-index: 200; /*que el menú se muestre por encima de los elementos como imágenes que se muestren en pantalla, que se muestren por debajo de nuestro menú si es que navegamos hacia abajo por la pagina*/
    background: rgba(0,0,0,0.9);
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo2{
    width: 150px;
    display: flex;
    align-items: flex-end;
}
header .logo{
    width: 200px;
}

header nav a{
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}

header nav a:hover,
header nav a.activo {
    color: #FFF;
}

header .lupita{
    font-family: 'Open sans';
    color: #AAA;
    background: rgba(0, 0, 0, 0.5);
}


.general {
    color: red;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 60px;
    text-align: center;
}

.titulos-generales {
    font-family: 'open sans', sans-serif;
    color: #fff;
    margin-left: 80px;
}

.pelicula {
    color: white;
    padding: 5px;
    font-family: 'open sans', sans-serif;
    text-align: center;
}

.titulo{
    font-family: "open sans", sans-serif;
    color: white;
}

.fechas {
    color: #AAA ;
    text-align: center;
    font-family: 'Arial, Helvetica', sans-serif;
}

.contenedor {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

.contenedor .flecha-izquierda,
.contenedor .flecha-derecha {
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    height: 50%;
    line-height: 40px;
    width: 50px;
    color: white;
    cursor: pointer;
    z-index: 100;
    /* que la flecha quede arriba de los elementos*/
    transition: .2s ease all;
}

.contenedor .flecha-izquierda:hover,
.contenedor .flecha-derecha:hover {
    background: rgba(0, 0, 0, .9);
}

.contenedor .flecha-izquierda {
    left: 0;
}

.contenedor .flecha-derecha {
    right: 0;
}

.contenedor-peliculas {
    width: 100%;
    padding: 20px 0;
    /* abajo y arriba 20, 0 a la izq y derecha*/
    overflow-x: scroll;
    scroll-behavior: smooth;
    /* scroll con animacion, sin cambio brusco, nos vamos a desplazar con una animacion de la pagina */
}

.contenedor-peliculas .galeria {
    display: flex;
    flex-wrap: nowrap;
    /* para que las imagenes queden una al lado de la otra */
    text-align: center;
}

.contenedor-peliculas .galeria .pelicula {
    transition: .3s ease all;
    /* es para el efecto hover */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    /* el .3 es la transparencia*/
    justify-content: space-between;
    min-width: 20%;
    font-family: 'Open sans', sans-serif;
}

.contenedor-peliculas .galeria .pelicula img {
    width: 180px;
    height: 250px;
    margin: 30px;
    vertical-align: top;
    /* quitar margen que agregan los navegadores */
}

.primero{
    padding-top: 140px;
}

footer {
    color: #AAA;
    size: 14px;
    text-align: left;
    font-family: "open sans", sans-serif;
    padding-top: 50px;
}

@media (max-width: 768px){
    header .logo {
        margin-bottom: 10px;
        font-size: 15px;
    }
    header .contenedor {
        flex-direction: column; 
        text-align: center;
        font-size: 14px;
    }
    header .lupita{
        padding-top: 10px;
    }
    .contenedor {
        max-width: 100%;
    }
    .contenedor .contenedor-peliculas .galeria{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* cada columna va a abarcar lo mismo*/
        gap: 20px;
    }
    .contenedor .flecha-izquierda, 
    .contenedor .flecha-derecha {
        display: none;
    }
    .primero{
        padding-top: 200px;
    }
    .primero .general{
        font-size: 30px;
    }
    .titulos-generales {
        font-size: 20px;
    }
    .pelicula {
        color: white;
        padding: 5px;
        font-family: 'open sans', sans-serif;
        text-align: center;
        font-size: 13px;
    }
}

