<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
=======
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

    .container {
>>>>>>> 2fb0a841baed5f466bd61255a7832ffa7466777a
    display: flex;
    flex-wrap: nowrap;
    margin: 30px

}
header{
    padding: 10px ;
    width: 100%;
    position: fixed; /*para que el menú de navegación se quede fijo en pantalla*/
    z-index: 200; /*que el menú se muestre por encima de los elementos como imágenes que se muestren en pantalla, que se muestren por debajo de nuestro menú si es que navegamos hacia abajo por la pagina*/
    background: rgba(0,0,0,0.9);
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 200px;
}
header nav a{
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}

header nav a:hover,
header nav a.activo {
    color: #FFF;
}

header .lupita{
    font-family: 'Open sans';
    color: #AAA;
    background: rgb(0, 0, 0, 0.5);
}

.imagenes{
    width: 180px;
    height: 250px;
    margin: 30px; 
}

body{
    background-color: black;
}

.general {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 150px;

}
.imagenes{
    width: 180px;
    height: 250px;
    margin: 30px;  
}
.generales {
    color: wheat ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.peliculas {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.fechas {
    color: wheat ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

footer {
    color: #AAA;
    size: 14px;
    text-align: left;
    font-family: "open sans", sans-serif;
}

@media (max-width: 800px){
    header .logotipo {
        margin-bottom: 10px;
        font-size: 15px;
    }
    header .contenedor {
        flex-direction: column; 
        text-align: center;
        font-size: 14px;
    }
}

