* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  rgba(0,0,0,0.9);
}

body{
   background-color: black;
   font-family: 'Playfair Display', serif;
   background-image: url(../img/fondoriver.jpg);
   background-repeat: no-repeat;
}

.imagen {
    height: 600px;
    width: 500px;
    margin-right: 150px;
}

.info{
    color: white;
    padding-top: 80px;
 }

 .letras{
    font-family: 'Open sans', sans-serif;
  }

.titulo {
   font-family: 'open sans', sans-serif;
   color: rgba(255, 255, 255, 0.706);
   font-size: 400%;
   margin: 2%;
   padding-left: 8%;
   
}

.titulos {
   color:  rgba(255, 255, 255, 0.706);
}

.bloque{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
 }
 
.sub-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 150px;
}


.boton{ 
   background: rgba(0, 0, 0, 0.5);
   border: none; 
   border-radius: 5px; /* CAMBIAR ESTAS MEDIDAS */
   padding: 15px; /* CAMBIAR ESTAS MEDIDAS */
   color: #FFF;
   margin-right: 20px;  
   font-size: 18px; 
   font-family: 'open sans', sans-serif;
}

.boton i{
   margin-right: 15px;
}

.boton:hover{
   background: #FFF;
   color: black;
}

.espacio{
    width: 60%;
    margin: 1%;
    padding-bottom: 2%;
    padding-right: 20px;
}

header{
    padding: 10px ;
    width: 100%;
    position: fixed; /*para que el menú de navegación se quede fijo en pantalla*/
    z-index: 200; /*que el menú se muestre por encima de los elementos como imágenes que se muestren en pantalla, que se muestren por debajo de nuestro menú si es que navegamos hacia abajo por la pagina*/
    background: rgba(0,0,0,0.9);
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 200px;
}
header nav a{
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* busque como hacer lo del efecto hover, es cuando pasas por arriba con el mouse y se pone blanco, primero aclara lo de hover y despues lo de activo, es decir, cuando estoy en una pagina esa se pone en blanco en este caso inicio*/ 

header nav a:hover,
header nav a.activo {
    color: #FFF;
}

header .lupita{
    font-family: 'Open sans';
    color: #AAA;
    background: rgb(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}

.trailer {
    font-size: 16px;
    width: 85vw;
    height: 50vw;
    color: #FFF;
    margin-bottom: 12vh; /* se trabaja con tamaños vh en vez de px para que se adapte a las pantallas */
    display: flex; 
    /* se aplica el display flex aca porque los textos estan arriba y quiero posicionarlos */
}

footer {
    color: #AAA;
    size: 14px;
    text-align: left;
    font-family: "open sans", sans-serif;
    padding-top: 50px;
}

@media (max-width: 800px){
   header .logotipo {
       margin-bottom: 10px;
       font-size: 15px;
   }
   header .contenedor {
       flex-direction: column; 
       text-align: center;
       font-size: 14px;
   }
}
@media (max-width: 768px){
    *{
        box-sizing: border-box;
    }
    header .logo {
        margin-bottom: 10px;
        font-size: 15px;
    }
    header .contenedor {
        flex-direction: column; 
        text-align: center;
        font-size: 14px;
    }
    header .lupita{
        padding-top: 10px;
    }
   .titulo {
    padding-top: 100px;
    font-size: 30px;
   }
   .bloque{
    font-size: 10px;
   }
   .imagen{
    height: 60%;
    width: 60%;
    margin-right: 0px;
    padding-left: 80px;
   }
   .boton{
    font-size: 13px;
   }
}



