* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: black;
   font-family: 'Playfair Display', serif;
   background-image: url(../img/fotomujer.jpg);
   background-repeat: no-repeat;
   
}

.riverdale{

        background-color: black;
        font-family: 'Playfair Display', serif;
        background-image: url(../img/fotomujer.jpg);
        background-repeat: no-repeat;
}
.imagen {
   height: 500px;
   width: 400px;
   margin: 30px;
   padding-bottom: 3%;
   padding-left: 1%;
}
.info{
   color: white;
}

 .letras{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }


.titulo {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: rgba(255, 255, 255, 0.706);
   font-size: 400%;
   margin: 2%;


}

.titulos {
   color:  rgba(255, 255, 255, 0.706);
}
.bloque{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
}

.sub-container {
    display: flex;
    flex-direction: row;
    }

ul {
   list-style: none;
}

.boton{ 
   background: rgb(0, 0, 0, 0.5);
   border: none; 
   border-radius: 5px; /* CAMBIAR ESTAS MEDIDAS */
   padding: 15px; /* CAMBIAR ESTAS MEDIDAS */
   color: #FFF;
   margin-right: 20px;  
   font-size: 18px; 
}
.boton i{
   margin-right: 15px;
}
.boton:hover{
   background: #FFF;
   color: black;
   background: #FFF;
   color: black;
    background: #FFF;
    color: black;
}


.detalle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.espacio{
    width: 60%;
    margin: 1%;
    padding-bottom: 2%;
}

header{
    padding: 30px 0;
    background-color: black;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 200px;
}
header nav a{
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}

header nav a:hover,
header nav a.activo {
    color: #FFF;
}

header .lupita{
    font-family: 'Open sans';
    color: #AAA;
    background: rgb(0, 0, 0, 0.5);
}

.trailer {
    font-size: 16px;
    width: 85vw;
    height: 50vw;
    color: #FFF;
    margin-bottom: 12vh; /* se trabaja con tamaños vh en vez de px para que se adapte a las pantallas */
    display: flex; 
    /* se aplica el display flex aca porque los textos estan arriba y quiero posicionarlos */
 
}

footer {
    color: #AAA;
    size: 14px;
    text-align: left;
    font-family: "open sans", sans-serif;
}

@media (max-width: 800px){
   header .logotipo {
       margin-bottom: 10px;
       font-size: 15px;
   }
   header .contenedor {
       flex-direction: column; 
       text-align: center;
       font-size: 14px;
   }
}

.norespires{
    padding-left: 3%;
}
