body{
    background-color: black;
    font-family: 'Playfair Display', serif;
    background-image: url(../img/18c78136-51ac-42f5-b514-aafce9ae96bc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: exclusion;
}
.imagen {
    height: 500px;
    width: 400px;
    float: left;
}
 .info{
    color: white;
 }

 .titulo {
    font-family: 'Creepster', cursive;
    color: rgba(255, 255, 255, 0.706);
    font-size: 400%;
   
 }


 