
body{
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.general{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
}


.generos{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;

}

.subtitulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: wheat ;

}

.titulos {
    color: white;
    background-color: grey;
    display: flex;
    align-items: center;  
    justify-content: center;
    height: 55px;
    width: 150px;
    font-size: larger;
    


}


.imagenes{
    width: 350px;
    height: 200px;
    margin: 15px ;
}