* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 10px;
    width: 100%;
    position: fixed; /*para que el menú de navegación se quede fijo en pantalla*/
    z-index: 200; /*que el menú se muestre por encima de los elementos como imágenes que se muestren en pantalla, que se muestren por debajo de nuestro menú si es que navegamos hacia abajo por la pagina*/
    background: rgba(0,0,0,0.9);
}

.titulos{
    padding-top: 80px;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 200px;
}
header nav a{
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}

header nav a:hover,
header nav a.activo {
    color: #FFF;
}

header .lupita{
    font-family: 'Open sans';
    color: #AAA;
    background: rgb(0, 0, 0, 0.5);
}

.general{
    color: red;
    font-family: 'Open sans', sans-serif;
    font-size: 60px;
    text-align: center;
}


.generos{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.subtitulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: wheat ;

}

.generos {
    display: flex;
    align-items: center;  
    justify-content: center;
}

.generos .titulos {
    background: rgba(242, 240, 240, 0.5);
    border: none; 
    border-radius: 5px; /* CAMBIAR ESTAS MEDIDAS */
    padding: 15px; /* CAMBIAR ESTAS MEDIDAS */
    color: black;
    margin-right: 20px;  
    font-size: 18px; 
    height: 55px;
    width: 150px;
    text-decoration: none;
}

.generos .titulos:hover{
    background: rgb(19, 19, 19);
    color: #FFF;
}

.imagenes{
    width: 350px;
    height: 200px;
    margin: 15px ;
}

footer {
    color: #AAA;
    size: 14px;
    text-align: left;
    font-family: "open sans", sans-serif;
    padding-top: 50px;
}

@media (max-width: 800px){
    header .logotipo {
        margin-bottom: 10px;
        font-size: 15px;
    }
    header .contenedor {
        flex-direction: column; 
        text-align: center;
        font-size: 14px;
    }
    header .lupita{
        padding-top: 10px;
    }
}



