* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    margin: auto;
}

header{
    padding: 30px 0;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 200px;
}
header nav a{
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* busque como hacer lo del efecto hover, es cuando pasas por arriba con el mouse y se pone blanco, primero aclara lo de hover y despues lo de activo, es decir, cuando estoy en una pagina esa se pone en blanco en este caso inicio*/ 

header nav a:hover,
header nav a.activo {
    color: #FFF;
}

header .lupita{
    font-family: 'Open sans';
    color: #AAA;
    background: rgb(0, 0, 0, 0.5);
}

.container {
    display: flex;
    flex-wrap: nowrap;
    margin: 30px

}
.imagenes{
    width: 180px;
    height: 250px;
    margin: 30px;  
}
.generales {
color: rgb(247, 91, 91);
}

.peliculas {
    color: white;
    text-align: center;
}

.fechas {
    color: wheat ;
    text-align: center;
}
/* Aca hice lo de la pelicula principal */

.pelicula-principal {
    font-size: 16px;
    min-height: 80vh;
    color: #FFF;
    background: url(./img/Pinocho.jpeg);
    background-position: center center; /* dos centers: lo centre de forma horizontal y luego vertical */
    background-size: cover;
    margin-bottom: 12vh; /* se trabaja con tamaños vh en vez de px para que se adapte a las pantallas */
    display: flex; 
    /* se aplica el display flex aca porque los textos estan arriba y quiero posicionarlos */
    align-items: end; 
}
/* aca le quise sacar los margenes de arriba y abajo porque no me dejaba mover el texto para abajo */
.pelicula-principal .contenedor {
    margin: 0 auto;
    margin: 5vh;
}
.pelicula-principal .titulo {
    font-weight: 600; /* es el que descargue que era el semi bold */ 
    font-size: 30px; 
    margin-bottom: 2vh; /* se trabaja con tamaños vh en vez de px para que se adapte a las pantallas */
}
.pelicula-principal .descripcion {
    font-weight: normal; 
    font-size: 16px;
    line-height: 18px;
    max-width: 50%; 
    margin-bottom: 2vh;
}
.pelicula-principal .boton{ 
    background: rgb(0, 0, 0, 0.5);
    border: none; 
    border-radius: 5px; /* CAMBIAR ESTAS MEDIDAS */
    padding: 15px; /* CAMBIAR ESTAS MEDIDAS */
    color: #FFF;
    margin-right: 20px;  
    font-size: 18px; 
}
.pelicula-principal .boton i{
    margin-right: 15px;
}
.pelicula-principal .boton:hover{
    background: #FFF;
    color: black;
}
/* Para el efecto HOVER: es cuando el usuario interactua con un elemento del dispositivo, pero no lo activa. Es decir, cuando el usuario se desliza por un elemento con el cursor. Cuando el usuario haga esto, el boton cambiara su color a blanco con letra negra.*/ 

footer {
    color: #AAA;
    size: 14px;
    text-align: left;
}

/* media queries responsive design FALTA CAMBIAR LAS MEDIDAS A LAS QUE PIDEN!!! y hacer responsive todo lo de abajo*/

@media screen and (max-width: 420px){
    header .logotipo {
        margin-bottom: 10px;
        font-size: 15px;
    }
    header .contenedor {
        flex-direction: column; 
        text-align: center;
        font-size: 14px;
    }
    .pelicula-principal{
        font-size: 12px; 
    }
    .pelicula-principal .descripcion {
        max-width: 100%;
    }
    .container {
        display: flex;
        flex-wrap: nowrap;
        margin: 30px; }
}

.fotos{
    color: white;
    background-color: rgba(250, 81, 81, 0.639);
        border-style: solid;
        border-width: 2px;
        border-color: rgb(0, 0, 0);
        border-radius: 15px;
        padding: 12px;
        margin: 2%;
}/*aca hice que las peliculas tengan el borde ese*/
