* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    margin: auto;
}

header{
    padding: 30px 0;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 190px;
    height: 190px;
}
header nav a{
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}
/* busque como hacer lo del efecto hover, es cuando pasas por arriba con el mouse y se pone blanco, primero aclara lo de hover y despues lo de activo, es decir, cuando estoy en una pagina esa se pone en blanco en este caso inicio*/ 

header nav a:hover,
header nav a.activo {
    color: #FFF;
}
header .form{
    justify-content: flex-end;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    margin: 30px

}
.imagenes{
    width: 180px;
    height: 250px;
    margin: 30px;
    
}

.generales {
color: red;
}

.peliculas {
    color: white;
    text-align: center;
}

.fechas {
    color: wheat ;
    text-align: center;
}
/* Aca hice lo de la pelicula principal */

.pelicula-principal {
    font-size: 16px;
    min-height: 80vh;
    color: #FFF;
    background: url(./img/Pinocho.jpeg);
    background-position: center center; /* dos centers: lo centre de forma horizontal y luego vertical */
    background-size: cover;
    margin-bottom: 12vh; /* se trabaja con tamaños vh en vez de px para que se adapte a las pantallas */
    display: flex; 
    /* se aplica el display flex aca porque los textos estan arriba y quiero posicionarlos */
    align-items: end; 
}
/* aca le quise sacar los margenes de arriba y abajo porque no me dejaba mover el texto para abajo */
.pelicula-principal .contenedor {
    margin: 0 auto;
    margin: 5vh;
}
.pelicula-principal .titulo {
    font-weight: 600; /* es el que descargue que era el semi bold */ 
    font-size: 50px; 
}

.detalle {
    background-color: white;
}
.vol2 {
    width: 500px;
    height: 500px;
}